* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: "Outfit", sans-serif;
}
.con {
  position: relative;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.box::after {
  margin-top: 48px;
  content: "";
  background-color: hsl(216, 50%, 10.1%);
  width: 320px;
  height: 502px;
  z-index: -1;
  position: absolute;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box::before {
  margin-top: 48px;
  content: "";
  background-color: hsl(217, 46%, 11%);
  width: 340px;
  height: 590px;
  z-index: -2;
  position: absolute;
  border-radius: 16px;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  width: 290px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 18px;
  background-color: hsl(216, 50%, 16%);
  margin-top: 48px;
}
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 256px;
  background-image: url(images/image-equilibrium.jpg);
  background-size: cover;
  background-position: center;
  align-self: center;
  border-radius: 12px;
}
.for-view {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 256px;
  width: 256px;
}
.for-view:hover {
  opacity: 1;
}
.view {
  height: 32px;
  width: 32px;
  opacity: 1;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.img-box:hover {
  background-image: linear-gradient(
      to right bottom,
      hsla(178, 100%, 50%, 0.5),
      hsla(178, 100%, 50%, 0.5)
    ),
    url(images/image-equilibrium.jpg), url(images/icon-view.svg);
}
.nft-img {
  border-radius: 12px;
  height: 256px;
}
.head-text-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.head-text {
  font-size: 18px;
  font-weight: 600;
}
.head-text:hover {
  color: hsl(178, 100%, 50%);
}
.color-h:hover {
  color: hsl(178, 100%, 50%);
}
.dis-text {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}
.avatar-img {
  border-radius: 50%;
  height: 24px;
  border: 1px solid #fff;
}
.end-box {
  display: flex;
  gap: 8px;
  align-items: center;
}
.vol {
  display: flex;
  justify-content: space-between;
}
.eth {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}
.time {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}
.dis-f-color {
  margin-right: 2px;
  letter-spacing: 0.5px;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}
.line {
  height: 1px;
  background-color: hsl(215, 32%, 27%);
}
